@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your custom global styles below */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
}

.fade-up.show {
  animation: fadeUp 1s ease-out forwards;
}
html {
  scroll-padding-top: 90px;
}
